body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-element{
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0;
}

input{
    width: 100%;
    padding: 8px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.checkbox-container {
    display: flex;
    align-items: center; 
    width: 100%;
    /* justify-content: center; */
}

.checkbox-container input {
    width: 40px;
    height: 40px;
    margin: 5px;
}
.checkbox-container label{
    min-width: 80px;
    font-weight: bolder;
}

.checkbox-container p {
    margin: 0;
    font-size: 14px;
    padding: 0;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

span{
    background-color: #4284F4;
    font-size: 14px;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
}